body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2, 1fr);
}

.box{
    border: 1px solid gray;
    border-radius: 5px;
}